numpy
pyvo>="0.9.3"
git+https://github.com/revoltek/losoto.git#egg=losoto
multiprocessing
functools
argparse
astropy
casacore.tables
datetime
fnmatch
glob
logging
matplotlib
multiprocessing
numpy
os
pyrap.tables
re
sys
lofar.stationresponse
